body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}

.container {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 0 0;
}

th {
  margin: 20px;
}
table {
  margin: auto;
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

tr {
  text-align: left;
}

tbody > tr:not(:nth-child(2n)) {
  background-color: #eee;
}

th {
  font-size: 125%;
  padding-bottom: 10px;
  padding: 0.25rem;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

td {
  padding: 5px;
}

td:not(:first-child) {
  text-align: right;
}
